@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 780px) {
.navbar {
    position: relative;
    min-height: 60px;
	border:none;
    /* border: 1px solid transparent; */
}
.navbar-default {

	position:relative;
	color:#FFF;
    background-color: #c00a27;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
	font-family: 'OpenSans', sans-serif;
	text-decoration:none;
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    font-weight: bold;
}
.navbar-toggle {
	color:#000;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #FFF;
    border-radius: 4px;
}
.header
	{
		background-color: #c00a27;
		width: 100%;
		height: 350px;
	}
.merah
	{
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/revslider/home-v1-slider/011-HomePage.jpg);
		background-position: center;
		width: 100%;
		height: 420px;
		background-size: 170%;
	}
.pizza
	{
		background-color: #c00a27;
		width: 100%;
		height: 80px;
		
	}
.navi
	{
		padding-top: 25px;
		background-color: #c00a27;
		width: 100%;
		height: 100px;
	}
.motor
	{
		font-size: 18px;
	}
.scooter
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	width: 110%;
    	height: 55px;
    	border-radius: 50px;
    	font-size: 8px;
	}
.scooter:hover 
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
    	font-size: 8px;
	}
.line
	{
		width: 80%;
		height: 3px;
		background-color: #226f0b;
		margin: 0 auto;
	}
.pizzaro
	{
		width: 20%;
		height: 100px;
		float: left;	
	}
.abc
	{
		width: 80%;
		margin: auto;
	}
.orderon
	{
		width: 37%;
		height: 70px;
		margin-top: 10px;
		background-color: #c00a27;
		float: left;
	}
.orline
	{
		height:50px;
		color:#FFF;
		text-align: center;
		padding-top: 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		width: 22%;
		margin: 0 auto;
		font-size: 8px;
	}
.orline:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 35%;
		height: 2px;
		position: absolute;
		left: 20px;
		top: 13px;
		background-color: #ffae00;
	}
.menugar	
	{
		position: relative;
		color: #cb334b;
		text-align: center;
		max-width: 1500px;
		width: 100%;
	}
.menugar:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #cb334b;
	}
.menu 	
	{
		width:90%;
		height:80px;
		margin: 40px auto;
		position: relative;
		
	}
.navpa
	{
		margin-right: 5px;
		margin-top: 0px;
		width: 33%;
		color: #000;
		display: none;
	}
.navp
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 3%;
		color: #000;
		display: none;
	}
.burgerr
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 25%;
		color: #000;
		display: none;
	}
.navpp
	{
		margin-right: 5px;
		margin-top: 0px;
		width:30%;
		color: #000;
		display: none;
	}
.men1
	{
		color: #f9b0bb;
		font-family: 'OpenSans', sans-serif;
		width: 10%;
		height: 50px;
		text-align: left;
		font-size: 16px;
		float: left;
		margin-right: 20px;
		padding-top: 5px;
	}

.men1:hover
	{
		color: #fff;
		font-family: 'OpenSans', sans-serif;
		font-weight: bold;		
		width: 10%;
		height: 50px;
		text-align: left;
		font-size: 16px;
		float: left;
		margin-right: 20px;
	}
.phone1
	{
		   
		display: inline-block;
    	font-size: 10px;
    	line-height: 1;
    	vertical-align: middle;
    	letter-spacing: -.025em;
    	text-align: left;
	}
.phone2
	{
		font-weight: 800;
   		color: #fff;
    	font-size: 16px;
    	line-height: 1;
    	letter-spacing: -.01em;
    	display: block;
	}
.ves1
	{
		width:50%;
		height:80px;
		float:left;
		text-align: left;
		padding-top: 5px;
		background-color: #c00a27;
	}
.satu
	{
		width:95%;
		height:358px;
		background-image:url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/2.jpg);
		background-repeat: no-repeat;
	}
.freef1
	{
		width:48%;
		height:175px;
		float:left;
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/5-1.jpg);
		background-size: 150%;
		background-repeat: no-repeat;
	}
.freef2
	{
		width:48%;
		height:175px;
		float:right;
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/4-1.jpg);
	}
.freef3
	{
		width:100%;
		height:160px;
		float:right;
		margin-top:22px;
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/3-1.jpg);
		background-repeat: no-repeat;
		background-size: 150%;
	}
.ord
	{
		color: #f79f04;
		font-size: 28px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: -20px;
		text-align: center;
		vertical-align: top;
	}
.ordd
	{
		color: #FFF;
		font-size: 52px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		text-align: center;
		font-weight: bold;
		text-shadow:#333 7px 3px 15px;
		margin-top: -20px;
	}
.sipcy
	{
		background-color: #c00a27;
		width: 60%;
		border-radius: 7px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}
.tulisan
	{
		width:24%;
		height:40px;
		margin-left:10px;
		margin-top:30px;
		position:absolute;
		text-align: left;
	}

.fre
	{
		margin-top: 0px;
		text-align: center;
		font-size:28px;
		color:#FFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}
.friess
	{
		font-size:38px;
		font-weight:bold;
		color:#FFF;
		font-family:Roboto;	
		font-family: 'Oswald', sans-serif;
		text-align: center;
		margin-top: -30px;
	}
.gril
	{
		position: relative;
		font-size:28px;
		font-weight:bold;
		color:#FFF;
		font-family:Roboto;
		text-shadow:#333 7px 3px 15px;	
		font-family: 'Oswald', sans-serif;
	}
.iced
	{
		width:50%;
		height:400px;
		float:left;
	}
.freefries
	{
		width:100%;
		height:400px;
		background-color:#fff;
		margin-top:30px;
	}
.tinam
	{
		width: 100%;
		height: 210px;
		background-color: #fff;
		background-image: url(../images/sup.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.tinam2
	{
		width: 100%;
		height: 210px;
		background-color: #fff;
		background-image: url(../images/supreme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.tinam3
	{
		width: 100%;
		height: 210px;
		background-color: #fff;
		background-image: url(../images/preme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.ricota
	{
		width: 100%;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		line-height: 25px;
		font-family: 'OpenSans', sans-serif;
		color: #635e5f;
	}
.sumerpizza
	{
		width: 100%;
		height: 1150px;
		float: left;

	}
.veggelover
	{
		width: 100%;
		height: 600px;
		float: left;
		text-align: center;
	}
.supreme
	{
		width: 30%;
		height: 600px;
		background-color: #fff;
		margin: 10px 10px;
		display: inline-block;
	}
.goesgrid
	{
		width: 100%;
		height: 1200px;	
		float: left;
	}

.label 
	{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	}
.harg
	{
		color: #000;
		font-size: 14px;
		font-family: 'OpenSans', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: left;
		vertical-align: bottom;
	}
.labharg
	{
		width:30%;
		height:40px;
		text-align: left;
		font-weight: normal;
		margin-left: 0px;	
	}
.harga1
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: left;
		padding-left: 0px;
	}
.piset
	{
		width:200%;
		height:50px;
		color:#ccc;
		text-align: left;
		padding-top: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 100px;
		margin: 0 auto;
		font-size: 16px;
		background-color: #000;
		display: none;
	}
.piset:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 45%;
		height: 4px;
		position: absolute;
		left: 25px;
		top: 52px;
		background-color: #f0002f;
	}
.minum
	{
		width:100%;
		height:50px;
		color:#ccc;
		text-align: center;
		padding-top: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		font-size: 20px;
		padding-left: 0px;
	}
.minum:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 40%;
		height: 4px;
		position: absolute;
		left: 65px;
		top: 52px;
		background-color: #f0002f;
	}
.cola
	{
		width: 40%;
		height: 500px;
		background-color: #fff;
		margin: 0px 30px;
		display: inline-block;
		background-color: #fff;
	}
.popice3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/choco.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice1
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/colad.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/orange.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice4
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/poice.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.hargahrgaa
	{
		width: 100%;
		height: 60px;
		text-align: center;
		float: left;
	}
.hargahrgaa {
    display: inline;
    padding: .1em .19em .4em;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.bestbawah
	{
		width: 20%;
		height: 200px;
		background-color: #fff;
		margin: 50px 15px;
		display: inline-block;
		background-color: #fff;
		float: left;
	}
.ricotabawah
	{
		width: 100%;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		line-height: 20px;
		font-family: 'OpenSans', sans-serif;
		color: #635e5f;
	}
.fotobawah
	{
		width:128px;
		height: 128px;
		float: left;
	}
.enambawah
	{
		width: 100%;
		height: 85px;
		float: left;
	}
.akhir
	{
		width: 100%;
		height: 330px;
		background-color: #2c2c2c;
		float: left;
		text-align: center;
		position: relative;
	}
.sosmed
	{
		width: 40%;
		height: 40px;
		margin: 50px auto;
	}
.sos
	{
		width:40px;
	    height:40px;
	    border: solid 1px #969696;
	    border-radius:50%;
	    overflow:hidden;
	    color: #969696;
	    text-align: center;
	    padding-top: 10px;
	    font-size: 20px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	    margin-left: 25px;
	}
.pizakhir
	{
		width: 40%;
		height: 50px;
		margin: 0px auto;
	}
.contact
	{
		width: 100%;
		height: 20px;
		margin: 20px auto;
		font-size: 12px;
	}
.cus1
	{
		width: 20%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus
	{
		width: 39%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus3
	{
		width: 20%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus4
	{
		width: 19.21%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus2
	{
		width: 3px;
		height: 20px;
		background-color: #a11528;
		float: left;
		text-align: center;
	}
.sosmed
	{
		width: 50%;
		height: 20px;
		margin: 50px auto;
	}
.copyright
	{
		width: 50%;
		height: 30px;
		margin: 20px auto;
		text-align: center;
		color: #686868;
		font-family: 'OpenSans', sans-serif;
	}
.map
	{
		width: 40%;
		height: 20px;
		margin: 20px auto;
		text-align: center;
		color: #686868;
		font-family: 'OpenSans', sans-serif;
	}
.mapbut
	{
		background-color: #c00a27;
		border-radius: 10px 10px 0 0;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}
}