@charset "utf-8";
/* CSS Document */
* {margin:0; padding:0;}
@media screen and (max-width: 1024px) {
body
	{
	}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
	border:none;
    /* border: 1px solid transparent; */
}
.navbar-default {
	padding-left:0%;
	position:relative;
	color:#FFF;
    background-color: #c00a27;
}
.navbar-default .navbar-nav > li > a {
	
    color: #FFF;
	font-family: 'OpenSans', sans-serif;
	text-decoration:none;
	font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    font-weight: bold;
}
.navbar-toggle {
	color:#000;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #FFF;
    border-radius: 4px;
}
.header
	{
		background-color: #c00a27;
		width: 100%;
		height: 300px;
	}
.merah
	{
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/revslider/home-v1-slider/011-HomePage.jpg);
		background-position: center;
		width: 100%;
		height: 500px;
		background-size: 170%;
	}
.pizza
	{
		background-color: #c00a27;
		width: 100%;
		height: 150px;
		
	}
.navi
	{
		padding-top: 25px;
		background-color: #c00a27;
		width: 100%;
		height: 140px;
	}
.scooter
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
	}
.scooter:hover 
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
	}
.line
	{
		width: 80%;
		height: 3px;
		background-color: #226f0b;
		margin: 0 auto;
	}
.pizzaro
	{
		width: 20%;
		height: 100px;
		float: left;	
	}
.abc
	{
		width: 80%;
		margin: auto;
	}
.orderon
	{
		width: 37%;
		height: 70px;
		margin-top: 10px;
		background-color: #c00a27;
		float: left;
	}
.orline
	{
		width:20%;
		height:50px;
		color:#FFF;
		text-align: center;
		padding-top: 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 100px;
		width: 100%;
		margin: 0 auto;
	}
.orline:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 35%;
		height: 2px;
		position: absolute;
		left: 32px;
		top: 20px;
		background-color: #ffae00;
	}
.menugar	
	{
		position: relative;
		color: #cb334b;
		text-align: center;
		max-width: 1500px;
		width: 100%;
	}
.menugar:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #cb334b;
	}
.menu 	
	{
		width:90%;
		height:80px;
		margin: 40px auto;
		position: relative;
		
	}
.navpa
	{
		margin-right: 5px;
		margin-top: 0px;
		width: 33%;
		color: #000;
	}
.navp
	{
		margin-right: 3px;
		margin-top: 0px;
		width: 30%;
		color: #000;
	}
.burgerr
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 25%;
		color: #000;
	}
.navpp
	{
		margin-right: 5px;
		margin-top: 0px;
		width:25%;
		color: #000;
	}
.men1
	{
		color: #f9b0bb;
		font-family: 'OpenSans', sans-serif;
		width: 10%;
		height: 50px;
		text-align: left;
		font-size: 16px;
		float: left;
		margin-right: 20px;
		padding-top: 5px;
	}

.men1:hover
	{
		color: #fff;
		font-family: 'OpenSans', sans-serif;
		font-weight: bold;		
		width: 10%;
		height: 50px;
		text-align: left;
		font-size: 16px;
		float: left;
		margin-right: 20px;
	}
.phone2
	{
		font-weight: 800;
   		color: #fff;
    	font-size: 1.25em;
    	line-height: 1;
    	letter-spacing: -.01em;
    	display: block;
	}
.ves1
	{
		width:50%;
		height:80px;
		float:left;
		text-align: left;
		padding-top: 5px;
		background-color: #c00a27;
	}
.scooter
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
    	font-size: 12px;
	}
.scooter:hover 
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
	}
.satu
	{
		width:95%;
		height:404px;
		background-image:url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/2.jpg);
		background-repeat: no-repeat;
	}
.freef2
	{
		width:48%;
		height:175px;
		float:right;
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/4-1.jpg);
	}
.sipcy
	{
		background-color: #c00a27;
		width: 40%;
		border-radius: 7px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}
.piset
	{
		width:30%;
		height:50px;
		color:#ccc;
		text-align: center;
		padding-top: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 100px;
		margin: 0 auto;
		font-size: 16px;
	}
.piset:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 45%;
		height: 4px;
		position: absolute;
		left: 25px;
		top: 52px;
		background-color: #f0002f;
	}
.tinam
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/sup.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.tinam2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/supreme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.tinam3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/preme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.label 
	{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	}
.harg
	{
		color: #000;
		font-size: 18px;
		font-family: 'OpenSans', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: left;
		vertical-align: bottom;
	}
.labharg
	{
		width:30%;
		height:40px;
		text-align: left;
		font-weight: normal;
		margin-left: 0px;	
	}
.labhargcola
	{
		width:10%;
		height:40px;
		text-align: left;
		font-weight: normal;
		margin-left: 0px;	
	}
.harga1
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: left;
		padding-left: 0px;
	}
.hargacola
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: left;

	}
.minum:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 40%;
		height: 4px;
		position: absolute;
		left: 100px;
		top: 52px;
		background-color: #f0002f;
	}
.aktig
	{
		width: 100%;
		height: 300px;
		background-color: #f4f2eb;
		float: left;
	}
.cola
	{
		width: 21%;
		height: 500px;
		background-color: #fff;
		margin: 10px 15px;
		display: inline-block;
		background-color: #fff;
	}
.popice3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/choco.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice1
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/colad.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/orange.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice4
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/poice.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.hargahrgaa
	{
		width: 100%;
		height: 60px;
		text-align: center;
		float: left;
	}
.hargahrgaa {
    display: inline;
    padding: .1em .19em .4em;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.bestbawah
	{
		width: 21%;
		height: 200px;
		background-color: #fff;
		margin: 50px 15px;
		display: inline-block;
		background-color: #fff;
		float: left;
	}
.fotobawah
	{
		width:170.5px;
		height: 122px;
		float: left;
	}
.enambawah
	{
		width: 100%;
		height: 115px;
		float: left;
	}
.akhir
	{
		width: 100%;
		height: 318px;
		background-color: #2c2c2c;
		float: left;
		text-align: center;
		position: relative;
	}
.sosmed
	{
		width: 40%;
		height: 10px;
		margin: 50px auto;
	}
.sos
	{
		width:40px;
	    height:40px;
	    border: solid 1px #969696;
	    border-radius:50%;
	    overflow:hidden;
	    color: #969696;
	    text-align: center;
	    padding-top: 10px;
	    font-size: 20px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	    margin-left: 25px;
	}
.pizakhir
	{
		width: 40%;
		height: 50px;
		margin: 0px auto;
	}
.contact
	{
		width: 100%;
		height: 20px;
		margin: 20px auto;
		font-size: 12px;
	}
.cus1
	{
		width: 20%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus
	{
		width: 30%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus3
	{
		width: 20%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus4
	{
		width: 19.21%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus2
	{
		width: 3px;
		height: 20px;
		background-color: #a11528;
		float: left;
		text-align: center;
	}
}