@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 480px) {
.pizzaro
	{
		width: 80%;
		height: 105px;
		text-align: center;
		float: left;	
	}
.orderon
	{
		width: 100%;
		text-align: center;
		height: 30px;
		margin-top: 10px;
		background-color: #c00a27;
		float: left;
	}
.orline:before {
    opacity: 0;
    transition: all .4s ease;
    content: "";
    width: 25%;
    height: 2px;
    position: absolute;
    left: 33px;
    top: 13px;
    background-color: #ffae00;
}
.vespa
	{
		width:100%;
		height:80px;
		float:left;
	}
.ves2
	{
		width:48%;
		height:80px;
		float:left;
		margin-right: 2px;
	}
.merah
	{
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/revslider/home-v1-slider/011-HomePage.jpg);
		background-position: center;
		width: auto;
		height: 350px;
		background-size: 250%;
		background-repeat: no-repeat;
		padding-top: 50px;
	}
.gambarnew
	{
		width:100%;
		height:300px;
		background-image:url(../images/abc_03.png);
		background-repeat:no-repeat;
		background-position:bottom; 
		background-size: 100%;
	}
.gril
	{

		font-size:28px;
		font-weight:bold;
		color:#FFF;
		font-family:Roboto;
		text-shadow:#333 7px 3px 15px;	
		font-family: 'Oswald', sans-serif;
	}
.grilled
	{
		width:100%;
		height:442px;
		float:left;
	}
.satu
	{
		width:100%;
		height:442px;
		background-image:url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/2.jpg);
		background-repeat: no-repeat;
	}
.sipcy
	{
		background-color: #c00a27;
		width: 70%;
		border-radius: 7px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}
.tulisan
	{
		width:40%;
		height:40px;
		margin-left:30px;
		margin-top:30px;
		position:absolute;
		text-align: left;
	}
.tulisann
	{
		width:40%;
		height:40px;
		margin:80px auto;
		text-align: center;
	}
.iced
	{
		width:100%;
		margin-top: 20px;
		height:442px;
		float:left;
	}
.friess
	{
		font-size:48px;
		font-weight:bold;
		color:#FFF;
		font-family:Roboto;	
		font-family: 'Oswald', sans-serif;
		text-align: left;
		margin-top: -30px;
	}
.fre
	{
		margin-top: -5px;
		text-align: left;
		font-size:36px;
		color:#FFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}
.wed
	{
		margin-top: -15px;
		font-size:14px;
		color:#FFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		text-align: left;
	}
.supreme
	{
		width: 100%;
		height: 700px;
		background-color: #fff;
		float: left;
		margin-left: 0px;
		display: inline-block;
	}
.sumerpizza
	{
		width: 100%;
		height: 3100px;
		float: left;

	}
.tinam
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/sup.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
		float: left;
	}
.tinam2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/supreme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
		float: left;
	}
.tinam3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/preme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
		float: left;
	}
.harga1
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: right;
		padding-left: 50px;
	}
.harga2
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: right;
		padding-left: 50px;
	}
.harg
	{
		font-size: 18px;
	}
.labharg
	{
		width:30%;
		height:40px;
		text-align: right;
		font-weight: normal;
		margin-left: 50px;	
	}
.goldenchiken
	{
		width: auto;
		height: 900px;
		background-color: #fff;
	}	
.theday
	{
		min-height: 400px;
	}
.goesgrid
	{
		height: 2150px;
	}
.popice1
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/colad.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		float: left;
	}
.popice2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/orange.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		float: left;
	}
.popice3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/choco.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;
		float: left;
	}
.popice4
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/poice.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 80%;	
		float: left;
	}
.minum
	{
		width:100%;
		height:10px;
		
		margin: 0 auto;
		font-size: 14px;
		padding-left: 0px;
	}
.minum:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 40%;
		height: 4px;
		position: absolute;
		left: 40px;
		top: 40px;
		background-color: #f0002f;
	}
.pisetgar:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: -30px;
		background-color: #ccc;
	}
.cola
	{
		width: 100%;
		height: 500px;
		background-color: #fff;
		margin-left: 0px;
		display: inline-block;
		background-color: #fff;
		margin-top: 5px;
	}
.hargacola
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: left;
		padding-left: 0px;

	}
.harga2cola
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: right;
		padding-left: 50px;
	}
.supremebawah
	{
		width: auto;
		height: 300px;
		margin: 10px 10px;
		display: inline-block;
	}
.aktig		
	{
		height: 240px;
	}
.ontime
	{
		height: 1200px;
	}
.bestbawah
	{
		width: auto;
		height: 200px;
		background-color: #fff;
		margin: 50px 15px;
		display: inline-block;
		background-color: #fff;
		float: left;
	}
.enambawah
	{
		display: none;
	}
.akhir
	{
		height: 400px;
	}
.sos
	{
		width:30px;
	    height:30px;
	    border: solid 1px #969696;
	    border-radius:50%;
	    overflow:hidden;
	    color: #969696;
	    text-align: center;
	    padding-top: 5px;
	    font-size: 18px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	    margin-left: 5px;
	}
.cus1
	{
		width: 100%;
		height: 20px;
		float: left;
		text-align: center;
		margin-top: 5px;
	}
.cus
	{
		width: 100%;
		height: 20px;
		float: left;
		text-align: center;
		margin-top: 5px;
	}
.cus3
	{
		width: 100%;
		height: 20px;
		float: left;
		text-align: center;
		margin-top: 5px;
	}
.cus4
	{
		width: 100%;
		height: 20px;
		float: left;
		text-align: center;
		margin-top: 5px;
	}
.cus2
	{
		display: none;
	}
.copyright
	{
		width: 100%;
		height: 30px;
		margin: 20px auto;
		text-align: center;
		color: #686868;
		font-family: 'OpenSans', sans-serif;
	}
.map
	{
		width: 40%;
		height: 5px;
		margin: 0px auto;
		margin-top: 90px;	
		text-align: center;
		color: #686868;
		font-family: 'OpenSans', sans-serif;
	}
.mapbut
	{
		background-color: #c00a27;
		border-radius: 10px 10px 0 0;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}
}




