@charset "utf-8";
/* CSS Document */
body
	{
		background:#fff;
	}
.header
	{
		background-color:#fafafa;	
		height:70px;
	}
.header1
	{
		float:left;
		width:18%;
		height:10px;
		padding-top:70px;
		margin-left:270px;
		background-image:url(../images/logo_03.jpg);
		background-repeat:no-repeat;
		background-position:center;
	}
.header2
	{
		float:left;
		width:60%;
		height:60px;
		font-size:22px;
	}
.input-group-addon
	{
		background:#FFF;
	}
	
.head2
	{
		float:left;
		width:20%;
		height:20px;
		margin-top:25px;
		margin-left:10px;
	}

.head3
	{
		float:left;
		width:5%;
		height:20px;
		margin-top:25px;
		margin-left:5px;
	}
.head4
	{
		float:left;
		width:8%;
		height:20px;
		margin-top:23px;
		margin-left:7px;
	}
.btn-warning
	{
		background:#ffc906;
	}
.btn-default
	{
		font-family:"Comic Sans MS", cursive;
		background:#ff5eaf;
		color:#FFF;
		font-weight:bold;
		text-decoration:none;
	}
.btn-info
	{
		font-family:"Comic Sans MS", cursive;
		background:#1fbba6;
		color:#FFF;
		font-weight:bold;
		text-decoration:none;
	}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
	border:none;
    /* border: 1px solid transparent; */
}
.navbar-default {
	padding-left:17%;
	position:relative;
	color:#FFF;
   background: linear-gradient(#5ba1c4, #056da2); /* Standard syntax */
		background: -webkit-linear-gradient(#5ba1c4, #056da2); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#5ba1c4, #056da2); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#5ba1c4, #056da2); /* For Firefox 3.6 to 15 */
}
.navbar-default .navbar-nav > li > a {
	padding: 15px 30px;
    color: #FFF;
	font-family:"Comic Sans MS", cursive;
	text-decoration:none;
	font-weight:bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0033CC;
    background-color: #FFF;
}
.navbar-toggle {
	color:#000;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #FFF;
    border-radius: 4px;
}
.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
	padding: 10px;
}

.papan
	{
		background-image:url(../images/people_03_02_01.jpg);
		background-repeat:repeat-x;
		padding:150px;
		margin-top:-50px;
		
		
	}
.tulisan
	{
		float:left;
		margin-top:-50px;
		margin-left:85px;
		width:80%;
		height:20px;		
		font-size:16px;
		color:#FFF;
		
	}
a{
	text-decoration:underline;
}
.find
	{
		width:30%;
		height:110px;	
		float:left;	
		margin-top:-20px;		
		margin-left:14.5%;
		border-bottom-color:#09F;
		border:5px #85adc9 solid;
		border-radius:8px;
		background: linear-gradient(#5ba1c4, #056da2); /* Standard syntax */
		background: -webkit-linear-gradient(#5ba1c4, #056da2); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#5ba1c4, #056da2); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#5ba1c4, #056da2); /* For Firefox 3.6 to 15 */
	}
.memberlak
	{
		margin-top:20px;
		margin-left:20px;
		width:50px;
   		height:50px;
    	background-image:url(../images/memberlak_07.jpg);
		background-size:cover;
		background-position:inherit;		
    	border-radius:50%;
    	overflow:hidden;
		border-bottom-color:#09F;
		border:4px #85adc9 solid;
	}
.adver
	{
		width:30%;
		height:110px;	
		float:left;	
		margin-top:-20px;		
		margin-left:7.5%;
		border-bottom-color:#09F;
		border:5px #85adc9 solid;
		border-radius:8px;
		background: linear-gradient(#5ba1c4, #056da2); /* Standard syntax */
		background: -webkit-linear-gradient(#5ba1c4, #056da2); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#5ba1c4, #056da2); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#5ba1c4, #056da2); /* For Firefox 3.6 to 15 */
	}
.dasi
	{
		margin-top:20px;
		margin-left:20px;
		width:50px;
   		height:50px;
    	background-image:url(../images/dasi_03.jpg) ;
		background-size:cover;
		background-position:center;		
    	border-radius:50%;
    	overflow:hidden;
		border-bottom-color:#09F;
		border:4px #85adc9 solid;
	}

.embad
	{
		background:#fff;
		padding:50px;
		height:20px;
		position:relative;
	}
.diamond
	{
		background-image:url(../images/embad_03.jpg);
		width:57%;
		height:50%;
		position:relative;
		padding:40px;
		margin-left:20%;	
		margin-top:-40px;
		background-repeat:no-repeat;
		
	}

.review
	{
		background:#fafafa;
		width:100%;
		height:330px;
	}
.rev
	{
		color:#000;
		float:left;
		width:53%;
		height:200px;
		background:#fafafa;
		margin-left:22%;
	}

.revnext
	{
		margin:10px 50px;
		
	}
.jempol
	{
		margin:10px 50px;
		float:left;
	}
.formrev
	{
		width:70%;
		height:240px;
		background:#FFF;
		float:left;
		margin:10px -35px;
	}

.trev1
	{
		width:70%;
		height:40px;
		margin-top:15px;
		margin-left:30px;
		font-size:12px;
	}
.trev
	{
		width:50%;
		height:40px;
		margin-top:-10px;
		margin-left:30px;
	}
.trev2
	{
		border-radius:7px;
		width:50%;
		height:10px;
		margin-top:0px;
		margin-left:30px;
	}
.inpute
	{
		width:258%;
		height:80px;
		margin-top:0px;
		border-radius:7px;
		border:1px solid #CCC;
	}

.op
	{
		float:left;
		width:40%;
		height:50px;
		margin-top:70px;
		margin-left:40px;
		padding-top:10px;
		font-size: 18px;
	}
.opp
	{
		float:right;
		width:10%;
		height:50px;
		margin-top:70px;
		margin-right:122px;
		padding-top:10px;
	}
/* Main */
	.left{
		width: 250px;
		border: 1px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.middle{
		width: 500px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

	.right{
		width: 250px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}

.footer{
	clear: both;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}


