@charset "utf-8";
/* CSS Document */
* {margin:0; padding:0;}
body
	{
		background:#fff;
	}

.header
	{
		background-color: #c00a27;
		width: 100%;
		height: 250px;
	}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
	border:none;
    /* border: 1px solid transparent; */
}
.navbar-default {
	padding-left:9%;
	position:relative;
	color:#FFF;
    background-color: #c00a27;
}
.navbar-default .navbar-nav > li > a {
	
    color: #FFF;
	font-family: 'OpenSans', sans-serif;
	text-decoration:none;
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    font-weight: bold;
}
.navbar-toggle {
	color:#000;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #FFF;
    border-radius: 4px;
}
.merah
	{
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/revslider/home-v1-slider/011-HomePage.jpg);
		background-position: center;
		width: 100%;
		height: 600px;
		background-size: 170%;
	}
.pizza
	{
		background-color: #c00a27;
		width: 100%;
		height: 100px;
		
	}
.navi
	{
		padding-top: 25px;
		background-color: #c00a27;
		width: 100%;
		height: 140px;
	}
.scooter
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
	}
.scooter:hover 
	{
		color: #fff;
    	background-color: #8ca93e;
    	border-color: #8ca93e;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
	}
.line
	{
		width: 80%;
		height: 3px;
		background-color: #226f0b;
		margin: 0 auto;
	}
.motor
	{
		font-size: 32px;
	}
.pizzaro
	{
		width: 20%;
		height: 100px;
		float: left;	
	}
.abc
	{
		width: 80%;
		margin: auto;
	}
.orderon
	{
		width: 37%;
		height: 70px;
		margin-top: 10px;
		background-color: #c00a27;
		float: left;
	}
.menugar	
	{
		position: relative;
		color: #cb334b;
		text-align: center;
		max-width: 1500px;
		width: 100%;
	}
.menugar:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #cb334b;
	}
.menu 	
	{
		width:90%;
		height:80px;
		margin: 40px auto;
		position: relative;
		
	}
.navpa
	{
		margin-right: 5px;
		margin-top: 0px;
		width: 33%;
		color: #000;
	}
.navp
	{
		margin-right: 5px;
		margin-top: 0px;
		width: 30%;
		color: #000;
	}
.burgerr
	{
		margin-right: 5px;
		margin-top: 0px;
		width: 30%;
		color: #000;
	}
.navpp
	{
		margin-right: 5px;
		margin-top: 0px;
		width:25%;
		color: #000;
	}
.men1
	{
		color: #f9b0bb;
		font-family: 'OpenSans', sans-serif;
		width: 10%;
		height: 50px;
		text-align: left;
		font-size: 16px;
		float: left;
		margin-right: 20px;
		padding-top: 5px;
	}

.men1:hover
	{
		color: #fff;
		font-family: 'OpenSans', sans-serif;
		font-weight: bold;		
		width: 10%;
		height: 50px;
		text-align: left;
		font-size: 16px;
		float: left;
		margin-right: 20px;
	}
.gambarnew
	{
		width:100%;
		height:420px;
		background-image:url(../images/abc_03.png);
		background-repeat:no-repeat;
		background-position:bottom; 
	}
.sipcy
	{
		background-color: #c00a27;
		width: 35%;
		border-radius: 7px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}
.orline
	{
		width:20%;
		height:50px;
		color:#FFF;
		text-align: center;
		padding-top: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 100px;
		width: 100%;
		margin: 0 auto;
	}
.orline:hover:before{
	opacity: 1;
}
.orline:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 35%;
		height: 2px;
		position: absolute;
		left: 32px;
		top: 40px;
		background-color: #ffae00;
	}

.orline span
	{
	    
    	position: relative;
    	z-index: 5;
    	padding: 0px 0px;
	}

.vespa
	{
		width:40%;
		height:80px;
		float:left;
	}
.ves1
	{
		width:50%;
		height:80px;
		float:left;
		text-align: center;
		padding-top: 5px;
		background-color: #c00a27;
	}
.phone1
	{
		   
		display: inline-block;
    	font-size: .875em;
    	line-height: 1;
    	vertical-align: middle;
    	letter-spacing: -.025em;
    	text-align: right;
	}
.phone3
	{
		max-width: 100%;
    padding: 0 12px 0 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #fff;
    border: none;
    text-align-last: left;
    line-height: 1.8;
    background-color: #c00a27;
	}
.intro-text
	{
		color: #f79f04;
	}
.phone2
	{
		font-weight: 800;
   		color: #fff;
    	font-size: 1.75em;
    	line-height: 1;
    	letter-spacing: -.01em;
    	display: block;
	
	}
.ves2
	{
		width:50%;
		height:80px;
		float:left;

	}
.goldenchiken
	{
		width: 100%;
		height: 900px;
		background-color: #fff;
	}
.sumerpizza
	{
		width: 100%;
		height: 1330px;
		float: left;

	}
.freefries
	{
		width:100%;
		height:442px;
		background-color:#fff;
		margin-top:30px;
	}
.grilled
	{
		width:50%;
		height:442px;
		float:left;
	}
.satu
	{
		width:95%;
		height:442px;
		background-image:url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/2.jpg);
		background-repeat: no-repeat;
	}
.tulisan
	{
		width:25%;
		height:40px;
		margin-left:30px;
		margin-top:30px;
		position:absolute;
		text-align: left;
	}
.tulisann
	{
		width:50%;
		height:40px;
		margin:80px auto;
		text-align: center;
	}
.gril
	{

		font-size:48px;
		font-weight:bold;
		color:#FFF;
		font-family:Roboto;
		text-shadow:#333 7px 3px 15px;	
		font-family: 'Oswald', sans-serif;
	}
.sum
	{
		margin-top: -15px;
		font-size:36px;
		color:#FFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}
.fre
	{
		margin-top: -5px;
		text-align: center;
		font-size:36px;
		color:#FFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}
.friess
	{
		font-size:48px;
		font-weight:bold;
		color:#FFF;
		font-family:Roboto;	
		font-family: 'Oswald', sans-serif;
		text-align: center;
		margin-top: -30px;
	}
.wed
	{
		margin-top: -15px;
		font-size:14px;
		color:#FFF;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		text-align: center;
	}
.iced
	{
		width:50%;
		height:442px;
		float:left;
	}
.ord
	{
		color: #f79f04;
		font-size: 36px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: center;
		vertical-align: top;
	}
.ordd
	{
		color: #FFF;
		font-size: 66px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		text-align: center;
		font-weight: bold;
		text-shadow:#333 7px 3px 15px;
	}
.freef1
	{
		width:48%;
		height:190px;
		float:left;
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/5-1.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
.freef2
	{
		width:48%;
		height:190px;
		float:right;
		background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/4-1.jpg);
		
	}
.freef3
	{
		width:100%;
		height:230px;
		float:right;
		margin-top:22px;
		    background-image: url(https://demo2.chethemes.com/pizzaro/wp-content/uploads/2016/09/3-1.jpg);
		    background-repeat: no-repeat;
		background-size: 110%;
	}
.pizzasets
	{
		width:100%;
		height:100px;
		background-color:#FFF;
		text-align:center;
	}
.setpiz
	{
		width: 30%;
		height: 70px;
		margin: 5px auto;
		text-align: center;
	}
.piset
	{
		width:30%;
		height:50px;
		color:#ccc;
		text-align: center;
		padding-top: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 100px;
		width: 100%;
		margin: 0 auto;
		font-size: 20px;
	}
.piset:hover
	{
		color: #000;
	}
.piset:hover:before{
	opacity: 1;
}
.piset:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 45%;
		height: 4px;
		position: absolute;
		left: 32px;
		top: 52px;
		background-color: #f0002f;
	}

.piset span
	{
	    
    	position: relative;
    	z-index: 5;
    	padding: 0px 0px;
	}
.pisetgar	
	{
		position: relative;
		color: #ccc;
		text-align: center;
		max-width: 1500px;
		width: 100%;
	}
.pisetgar:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: -20px;
		background-color: #ccc;
	}
.theday
	{
		width: 100%;
		min-height: 400px;
		background-image: url(../images/background.jpg);
		float: left;
	}

.veggelover
	{
		width: 100%;
		height: 700px;
		float: left;
		text-align: center;
	}
.supreme
	{
		width: 30%;
		height: 700px;
		background-color: #fff;
		margin: 10px 10px;
		display: inline-block;
	}
.supreme:hover
	{
		
		border: solid 5px #ccc;
   		 z-index: 999;
    	position: relative;	
    	transform: scale(1);
    	opacity: 1;

    	}
.supreme:hover .addcart
	{
		display: block;
	}
.tinam
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/sup.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.tinam2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/supreme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.tinam3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/preme.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.textt
	{
		width: 100%;
		height: 200px;
		text-align: center;
		float: left;

	}
.ricota
	{
		width: 80%;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		line-height: 25px;
		font-family: 'OpenSans', sans-serif;
		color: #635e5f;
	}
.garpick
	{
		position: relative;
		color: #fff;
		text-align: center;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		font-weight: normal;
	}
.garpick:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0px;
		top: 10px;
		background-color: #ccc;
	}

.garpick span
	{
	    background: #fff;
    	position: relative;
    	z-index: 5;
    	padding: 0px 10px;
	}
.label
	{
		width: 100%;
		height: 60px;
		text-align: center;
		float: left;
	}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.harga1
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: left;
		padding-left: 0px;
	}
.lingkaran
	{
		 width:40px;
	    height:40px;
	    border: solid 1px #ccc;
	    border-radius:50%;
	    overflow:hidden;
	    color: #000;
	    text-align: center;
	    padding-top: 12px;
	    font-size: 14px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	}
.lingkaran:hover
	{
		 width:40px;
	    height:40px;
	    border: solid 1px #ffcd00;
	    background-color:#ffcd00;
	    border-radius:50%;
	    overflow:hidden;
	    color: #000;
	    text-align: center;
	    padding-top: 12px;
	    font-size: 14px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	}
.dolar
	{
		color: #000;
		font-size: 18px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: center;
		vertical-align: top;
	}
.harg
	{
		color: #000;
		font-size: 24px;
		font-family: 'OpenSans', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: center;
		vertical-align: bottom;
	}
.labharg
	{
		width:30%;
		height:40px;
		text-align: right;
		font-weight: normal;
		margin-left: 50px;	
	}
.harga2
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: right;
		padding-left: 20px;
	}
.addcart
	{
		width: 100%;
		height: 50px;
		float: left;
		display: none;
	}
.bahaya
	{
		color: #fff;
    	background-color: #c00a27;
    	border-color: #c00a27;
    	font-weight: bold;
    	width: 100%;
    	height: 55px;
    	border-radius: 50px;
}
.addto
	{
		font-family: 'OpenSans', sans-serif;
	}
.supreme:hover.addcart
	{
		display: block;
	}
.piz
	{
		margin-top: 50px;
		width: 100%;
		height: 200px;
	}
.titel
	{
		position: relative;
		color: #fff;
		text-align: center;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		font-weight: normal;

	}


.titel:before
	{
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0px;
		top: 15px;
		background-color: #fff;
	}

.titel span
	{
	    background-image: url(../images/background.jpg);
    	position: relative;
    	z-index: 5;
    	padding: 0px 10px;
    	text-align: center;
	}
.dayharga
	{
		width: 50%;
		height: 130px;
		float: left;
		text-align: right;
		margin-top: -20px;
		padding-right: 5px;
		font-weight: bold;
	}
.dayharga2
	{
		width: 50%;
		height: 130px;
		float: left;
		text-align: left;
		margin-top: -20px;
		line-height: 20px;
		padding-top: 30px;
		padding-left: 5px;
	}
.euro
	{

		color: #fff;
		font-size: 42px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 0px;
		text-align: left;
		vertical-align: top;
		font-weight: normal;
	}
.nominal
	{
		color: #fff;
		font-size: 72px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-top: -15px;
		text-align: center;
		vertical-align: text-top;
	}
.pizofday
	{
		font-size: 72px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-weight: bold;
	}
.each
	{
		color: #c2aa7e;
		font-size: 22px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		margin-top: -50px;
		margin-left: 160px;
		text-align: center;
		vertical-align: bottom;
	}
.hawaii	{
		width:100%;
		height:40px;
		text-align: left;
		font-weight: normal;
		background-color: #fff;
		float: left;
		line-height: 20px;
	}
.haveg
	{
		color: #c2aa7e;
		font-size: 22px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		margin-top: 0px;

	}
.butonord
	{
		width: 100%;
		height: 30px;	
		float: left;
	}
.ordnow
	{
		background-color: #f0002f;
		width: 60%;
		height: 60px;
		border-radius: 5px;
		font-weight: bold;
		font-family: 'OpenSans', sans-serif;
		font-size: 22px;
	}




.goesgrid
	{
		width: 100%;
		height: 650px;	
		float: left;
	}
.minum
	{
		width:100%;
		height:50px;
		color:#ccc;
		text-align: center;
		padding-top: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		float: left;
		position: relative;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		font-size: 20px;
		padding-left: 30px;
	}
.cola:hover
	{
		
		border: solid 5px #ccc;
   		 z-index: 999;
    	position: relative;	
    	transform: scale(1);
    	opacity: 1;
    	}
.minum:hover
	{
		color: #000;
	}
.minum:hover:before{
	opacity: 1;
}
.minum:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 40%;
		height: 4px;
		position: absolute;
		left: 120px;
		top: 52px;
		background-color: #f0002f;
	}

.minum span
	{
	    
    	position: relative;
    	z-index: 5;
    	padding: 0px 0px;
	}
.cola
	{
		width: 22%;
		height: 500px;
		background-color: #fff;
		margin: 10px 15px;
		display: inline-block;
		background-color: #fff;
	}
.popice1
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/colad.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice2
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/orange.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice3
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/choco.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		float: left;
	}
.popice4
	{
		width: 100%;
		height: 300px;
		background-color: #fff;
		background-image: url(../images/poice.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;	
		float: left;
	}
.juice
	{
		width: 80%;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		line-height: 25px;
		font-family: 'OpenSans', sans-serif;
		color: #635e5f;
	}
.pickcol
	{
		position: relative;
		color: #fff;
		text-align: center;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		font-weight: normal;
	}
.pickcol:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0px;
		top: 10px;
		background-color: #ccc;
	}

.pickcol span
	{
	    background: #fff;
    	position: relative;
    	z-index: 5;
    	padding: 0px 10px;
	}
.hargacola
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: right;

	}
.dolarcola
	{
		color: #000;
		font-size: 12px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: center;
		vertical-align: top;
	}
.hargcola
	{
		color: #000;
		font-size: 18px;
		font-family: 'OpenSans', sans-serif;
		display: inline-block;
		margin-right: 0px;
		margin-top: 10px;
		text-align: center;
		vertical-align: bottom;
	}
.labhargcola
	{
		width:20%;
		height:40px;
		text-align: right;
		font-weight: normal;
		margin-left: 40px;	
	}
.harga2cola
	{
		width:50%;
		height: 60px;
		float: left; 
		text-align: right;
		padding-left: 20px;
	}
.lingkarancola
	{
		 width:30px;
	    height:30px;
	    border: solid 1px #fbf5e5;
	    border-radius:50%;
	    overflow:hidden;
	    color: #000;
	    text-align: center;
	    padding-top: 10px;
	    font-size: 8px;
	    line-height: 1px;
	    font-family: 'Open Sans', sans-serif;
	    float: left;
	}
.lingkarancola:hover
	{
		width:30px;
	    height:30px;
	    border: solid 1px #ffcd00;
	    background-color:#ffcd00;
	    border-radius:50%;
	    overflow:hidden;
	    color: #000;
	    text-align: center;
	    padding-top: 12px;
	    font-size: 12px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	}
.hargahrgaa
	{
		width: 100%;
		height: 60px;
		text-align: center;
		float: left;
	}
.hargahrgaa {
    display: inline;
    padding: .1em .1em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.aktig
	{
		width: 100%;
		height: 270px;
		background-color: #f4f2eb;
		float: left;
	}
.supremebawah
	{
		width: 30%;
		height: 300px;
		margin: 10px 10px;
		display: inline-block;
	}
.garpickbawah
	{
		position: relative;
		color: #fff;
		text-align: center;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		font-weight: normal;
	}
.garpickbawah:before
	{
		
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0px;
		top: 10px;
		background-color: #ccc;
	}

.garpickbawah span
	{
	    background: #f4f2eb;
    	position: relative;
    	z-index: 5;
    	padding: 0px 10px;
	}
.ontime
	{
		width: 100%;
		height: 300px;
		float: left;
	}
.quality
	{
		width: 100%;
		height: 100px;
		background-image: url(../images/quality111.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.quality2	
	{
		width: 100%;
		height: 100px;
		background-image: url(../images/time.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.quality3
	{
		width: 100%;
		height: 100px;
		background-image: url(../images/chef.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.quality4
	{
		width: 100%;
		height: 100px;
		background-image: url(../images/food.jpg);
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
.ricotabawah
	{
		width: 80%;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		line-height: 20px;
		font-family: 'OpenSans', sans-serif;
		color: #635e5f;
	}
.bestbawah
	{
		width: 22%;
		height: 200px;
		background-color: #fff;
		margin: 50px 15px;
		display: inline-block;
		background-color: #fff;
		float: left;
	}
.enambawah
	{
		width: 100%;
		height: 150px;
		float: left;
	}
.fotobawah
	{
		width:224.5px;
		height: 152px;
		float: left;
	}
.imgfot
	{
		width: 100%;
	}
.akhir
	{
		width: 100%;
		height: 375px;
		background-color: #2c2c2c;
		float: left;
		text-align: center;
		position: relative;
	}
.sosmed
	{
		width: 40%;
		height: 40px;
		margin: 50px auto;
	}
.sos
	{
		width:60px;
	    height:60px;
	    border: solid 1px #969696;
	    border-radius:50%;
	    overflow:hidden;
	    color: #969696;
	    text-align: center;
	    padding-top: 15px;
	    font-size: 30px;
	    line-height: 1px;
	    font-family: 'OpenSans', sans-serif;
	    float: left;
	    margin-left: 25px;
	}
.sos:hover
	{
		color: #fff;
	}
.pizakhir
	{
		width: 40%;
		height: 80px;
		margin: 0px auto;
	}
.pizakhiri
	{
		width: 40%;
	}
.contact
	{
		width: 100%;
		height: 20px;
		margin: 20px auto;
	}
.cus1
	{
		width: 20%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus
	{
		width: 40%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus3
	{
		width: 20%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus4
	{
		width: 19.21%;
		height: 20px;
		float: left;
		text-align: center;
	}
.cus2
	{
		width: 3px;
		height: 20px;
		background-color: #a11528;
		float: left;
		text-align: center;
	}
.urlcon
	{
		color: #dddddd;
		font-family: 'OpenSans', sans-serif;
	}
.urlcon:hover
	{
		color: #dddddd;
		font-family: 'OpenSans', sans-serif;
		text-decoration: none;
		font-weight: bold;
	}
.copyright
	{
		width: 35%;
		height: 30px;
		margin: 20px auto;
		text-align: center;
		color: #686868;
		font-family: 'OpenSans', sans-serif;
	}
.map
	{
		width: 30%;
		height: 20px;
		margin: 20px auto;
		text-align: center;
		color: #686868;
		font-family: 'OpenSans', sans-serif;
	}
.mapbut
	{
		background-color: #c00a27;
		border-radius: 10px 10px 0 0;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 22px;
	}